<h2><%= @user %> has joined your game!</h2>

<strong><%= @game_session_title %></strong></br>

<strong>Creator:</strong><p><%= @user_name %></p></br>

<strong>Notes:</strong><p><%= @game_session_notes %></p></br>
<strong>Start Time:</strong><p><%= @start_time %></p></br>
<strong>Notes:</strong><p><%= @end_time %></p></br>

<p>Click <%= link_to "here", game_session_url(@game_session) %> to go to the game session!</p>

<p>If you decide to join, make sure to visit the game session lobby with the above link 15 minutes before game start and join!</p>