<h2><%= @creator %> has created a new <%= @game_session_title %>: <%= @game_mode_title %> gaming session at <%= @start_time %>!</h2>

<p><strong>Creator:</strong><%= @creator %></p>
<p><strong>Start Time:</strong><%= @start_time %></p>
<p><strong>End Time:</strong><%= @end_time %></p>

<strong>Notes:</strong><p><%= @game_session_notes %></p></br>

<p>Click <%= link_to "here", game_session_url(@game_session) %> to go to the game session!</p>

<p>If you decide to join, make sure to visit the game session lobby with the above link 15 minutes before game start and join!</p>
