<%= form_for @user, html: {class: "ui form attached fluid segment"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name, "User Name" %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :time_zone, "Time Zone" %><br>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort, model: ActiveSupport::TimeZone %>
  </div>
  <div class="field">
    <%= f.label :xbox_name, "Xbox GamerTag" %>
    <%= f.text_field :xbox_name %>
  </div>
  <div class="field">
    <%= f.label :steam_name, "Steam Name" %>
    <%= f.text_field :steam_name %>
  </div>
  <div>
    <%= f.label :twitch_name, "Twitch Handle" %>
    <%= f.text_field :twitch_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
