<div class="row">
<%= form_for(@game_session, class: "col-md-12") do |f| %>
  <% if @game_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_session.errors.count, "error") %> prohibited this game_session from being saved:</h2>

      <ul>
      <% @game_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="form-control col-md-12">
      <%= f.label :notes %><br>
      <%= f.text_field :notes, :required => true %>
    </div>
  </div>
  <div class="row">
    <div class="form-control col-md-4">
      <%= f.label :game_date %><br>
      <%= f.date_field :game_date, class: "datepicker", required: true, value: Time.now.strftime('%-d %b, %Y') %>
    </div>

    <div class="form-control col-md-4">
      <%= f.label :start_time %><br>
      <%= f.time_select :start_time, ampm: true, default: @current_time %>
    </div>

    <div class="form-control col-md-4">
      <%= f.label :end_time %><br>
      <%= f.time_select :end_time, ampm: true, default: @current_time+1.hour  %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.label :game %><br>
        <%= f.select :game_id, options_for_select(@games.collect { |game|
          [game.title.titleize, game.id] }, @current_game ), {}, {id: 'games_select'} %>
    </div>

    <div class="col-md-6">
      <%= f.label :game_mode %><br>
        <%= f.select :game_mode_id, options_for_select(@game_modes.collect { |game_mode|
          [game_mode.title.titleize, game_mode.id] }, 0 ), {}, {id: 'game_mode_select'} %>
    </div>
  </div>
  <div class="action">
    <%= f.submit "Go!" %>
  </div>

<% end %>
</div>