<p id="notice"><%= notice %></p>

<h1>Listing Game Sessions</h1>

<table>
  <thead>
    <tr>
      <th>Players</th>
      <th>Game</th>
      <th>Game mode</th>
      <th>Notes</th>
      <th>Game Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_sessions.each do |game_session| %>
      <tr>
        <td>
          <% game_session.users.each do |user| %>
            <%= user.user_name %>
          <% end %>
        </td>
        <td>
          <%= game_session.game.title.titleize %>
        </td>
        <td>
          <%= game_session.game_mode.title %>
        </td>
        <td>
          <%= game_session.notes %>
        </td>
        <td>
          <%= local_date(game_session.game_date, '%B %e') %>
        </td>
        <td>
          <%= local_time(game_session.start_time, '%l:%M%P') %>
        </td>
        <td>
          <%= local_time(game_session.end_time, '%l:%M%P') %>
        </td>
        <td>
          <% if user_signed_in? %>
						<% if game_session.users.ids.include?(current_user.id)  %>
							<%= button_to 'Leave', leave_game_path(game_session), action: "leave_game" %>
					<% end %>
            <%= button_to 'Join', join_game_path(game_session), action: "join_game" %>
          <% end %>
        </td>
        <td><%= link_to 'Show', game_session %></td>
        <td>
          <% if game_session.users.last.id == current_user.id %>
            <%= link_to 'Edit', edit_game_session_path(game_session) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game session', new_game_session_path %>