<p id="notice"><%= notice %></p>

<div class="players-list">
  <strong>Players:  <%= @total_players %>/<%= @max_players %></strong>
  <ul>
    <% @game_session.users.each do |user| %>
    <li>
      <%= user.user_name %>
    </li>
    <% end %>
  </ul>
</div>

<p>
  <strong>Game:</strong>
  <%= @game_session.game.title.titleize %>
</p>

<p>
  <strong>Game mode:</strong>
  <%= @game_session.game_mode.title.titleize %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @game_session.notes %>
</p>

<p>
  <strong>Game Date:</strong>
  <%= local_date(@game_session.game_date, '%B %e') %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= local_time(@game_session.start_time, '%l:%M%P') %>
</p>

<p>
  <strong>End Time:</strong>
  <%= local_time(@game_session.end_time, '%l:%M%P') %>
</p>

<% if @game_session.users.ids.include?(current_user.id)  %>
  <%= button_to 'Leave', leave_game_path(@game_session), action: "leave_game" %>
<% else %>
  <%= button_to 'Join', join_game_path(@game_session) , action: "join_game" %>
<% end %>
<% if @game_session.users.first.id == current_user.id %>
  <%= link_to 'Edit', edit_game_session_path(@game_session) %>
<% end %>
<%= link_to 'Back', game_sessions_path %>
