<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @game_session.user.user_name %>
</p>

<p>
  <strong>Game:</strong>
  <% @game_session.games.each do |game| %>
    <%= game.title.titleize %>
  <% end %>
</p>

<p>
  <strong>Game mode:</strong>
  <% @game_session.game_modes.each do |game_mode| %>
    <%= game_mode.title %>
  <% end %>
</p>

<%= link_to 'Edit', edit_game_session_path(@game_session) %> |
<%= link_to 'Back', game_sessions_path %>
