  <% if @game_sessions.empty? %>
  <h2 class="ui icon center aligned extra header no-games">
    <i class="frown icon"></i>
    <div class="sub header no-games">
      There doesn't seem to be any game sessions...
      <div class="header">Why not create one now?</div>
    </div>
  </h2>
  <% else %>
    <% @game_sessions.each do |game_session| %>
    <div class="ui card">
      <p class="image">
        <%= image_tag game_session.game.game_icon.url(:medium) %>
      </p>
      <div class="content">
        <%= link_to game_session.game.title.titleize + " | " +  game_session.game_mode.title.titleize, game_session, class: "header" %>
        <div class="meta">
          <p>Players: <%= game_session.users.size %>/<%= game_session.game_mode.total_players %></p>
          <div class="ui divided list">
            <% game_session.users.each do |user| %>
            <div class="item">
              <%= image_tag user.avatar.url, class: "ui avatar game-avatar image" %>
              <div class="content">
                <div class="header"><%= link_to user.user_name, user_path(user) %></div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        
        <div class="ui clearing divider"></div>
        
        <div class="description">
          <p><strong>Notes:</strong> <%= game_session.notes%></p>
          <p><strong>Game Date:</strong> <%= local_date(game_session.game_date, '%B %e') %></p>
          <p><strong>Start Time:</strong> <%= local_time(game_session.start_time, '%l:%M%P') %></p>
          <p><strong>End Time:</strong> <%= local_time(game_session.end_time, '%l:%M%P') %></p>
          
          <div class="ui divider"></div>
          
          <% if user_signed_in? && game_session.users.ids.include?(current_user.id) %>
            <% if game_session.creator != current_user %>
              <%= button_to 'Leave Session', leave_game_path(game_session), action: "leave_game", class: "game-button mini ui right floated primary button" %>
            <% end %>
            <% if can? :destroy, game_session %>
              <%= button_to 'End Session', end_game_path(game_session), method: :post , class: "game-button mini ui right floated red button" %>
            <% end %>
            <% if can? :edit, game_session %>
              <%= button_to 'Edit Session', edit_game_session_path(game_session), method: :get, class: "game-button mini ui right floated orange button" %>
            <% end %>
          <% else %>
            <%= link_to 'Join Game', join_game_path(game_session), action: "join_game", method: :post, class: "game-button mini ui right floated primary button" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="ui center aligned attached fluid segment pagninator">
      <%= paginate @game_sessions, params: params, remote: true %>
    </div>
  <% end %>