<div class="sixteen wide column">
  <div class="ui blue attached segment"><h2 class="ui header"><i class="game icon"></i><div class="content">Current Gaming Sessions</div></h2></div>
    <div class="ui attached segment">
      <%= render 'home/filter_game_sessions' %>
      <%= render 'home/new_game_button' %>
    </div>
    <div class="ui attached segment card-holder">
      <div class="ui cards game-cards">
        <%= render 'game_session_cards' %>
      </div>
    </div>
</div>

<div class="ten wide column">
  <div class="ui center aligned attached blue segment"><h2 class="ui header">Recent Site News</h2></div>
  <div class="ui attached news fluid segment">
    <div class="ui items">
      <% @site_news.each do |news| %>
        <div class="item">
          <div class="content">
            <a class="ui large header"><%= news.title %></a>
            <div class="ui clearing divider"></div>
            <p>Author: <a href="/users/<%= news.user.id %>"><%= news.user.user_name %></a></p>
            <p>Published Date: <%= news.created_at.strftime('%D') %></p>
            <div class="ui clearing divider"></div>
            <div class="description">
              <p><%= truncate(news.body, length: 1000) %></p>
            </div>
            <div class="extra">
              <a class="ui animated right floated button" href="/site_news/<%= news.id %>">
                <div class="visible content">Read More</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    <a href='/site_news' class="fluid ui bottom attached teal button">All news posts</a>
</div>

<div class="six wide column">
  <div class="ui center aligned attached blue segment"><h2 class="ui header">Most Played Games</h2></div>
  <div class="ui attached segment">

  <div id="most-played" class="ui styled fluid accordion">
    <% cache do %>
      <% Game.includes(:game_modes).all.each do |game| %>
        <div class="title game-title">
          <i class="dropdown icon"></i>
          <%= game.title %>
        </div>
        <div class="content">
          <p>Game: <%= game.play_count %> Plays</p>
          <% game.game_modes.each do |game_mode| %>
          <p><%= game_mode.title %>: <%= game_mode.play_count || 0 %> Plays </p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  </div>
</div>