<p id="notice"><%= notice %></p>

<p>
  <strong>Game title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Game desc:</strong>
  <%= @game.description %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
