<%= form_for @site_news, html: {class: "ui form attached fluid segment"} do |f| %>
  <% if @site_news.errors.any? %>
    <div id="error_explanation" class="ui visible error message">
      <div class="header">
        <%= pluralize(@site_news.errors.count, "error") %> prohibited this user from being saved:
      </div>

      <ul class="list">
      <% @site_news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="required field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="required field">
    <%= f.label :body %><br>
    <%= f.cktext_area :body, value: @site_news.body || 'Drop some news on me!' %>
  </div>

  <%= f.submit "Go!", class: "ui green button" %>

<% end %>
<% if @edit_site_news_page %>
  <div class="ui bottom attached negative message">
    <i class="icon ban"></i>
    Want to close your account? <%= link_to "Click here!", @site_news, method: :delete, data: { confirm: "Are you sure? This is irreversible!" } %>
  </div>
<% end %>