<div class="sixteen wide column">
  <div class="ui teal attached segment"><h2 class="ui header"><i class="newspaper icon"></i><div class="content">Site News</div></h2></div>
    <div class="ui attached segment">
      <div class="ui divided items">
        <% @site_news.each do |news| %>
        <div class="item">
          <div class="content">
            <a class="ui large header"><%= news.title %></a>
            <div class="ui clearing divider"></div>
            <p>Author: <a href="/users/<%= news.user.id %>"><%= news.user.user_name %></a></p>
            <p>Published Date: <%= news.created_at.strftime('%D') %></p>
            <div class="ui clearing divider"></div>
            <div class="description">
              <p><%= truncate(news.body, length: 1000) %></p>
            </div>
            <div class="extra">
              <a class="ui animated right floated button" href="/site_news/<%= news.id %>">
                <div class="visible content">Read More</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>
