<div class="sixteen wide column">
  <div class="ui teal attached segment"><h2 class="ui header"><i class="newspaper icon"></i><div class="content"><%= @site_news.title %></div></h2></div>
    <div class="ui attached segment">

        <div class="item">
          <div class="content">
            <p>Author: <a href="/users/<%= @site_news.user.id %>"><%= @site_news.user.user_name %></a></p>
            <p>Published Date: <%= @site_news.created_at.strftime('%D') %></p>
            <div class="ui clearing divider"></div>
            <div class="description">
              <p><%= raw @site_news.body %></p>
            </div>
          </div>
        </div>
    </div>
</div>